{% extends "default" %}

{% block head_meta %}
<meta name="robots" content="index, follow">

<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="{{ site.twitter_creator }}" />
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:description" content="{{ page.blocks.content|slice(0,100)|striptags ~ '...' }}" />
<meta name="twitter:image" content="{{ site.url }}{{ page.hero }}" />

<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.blocks.content|slice(0,200)|striptags ~ '...' }}" />
<meta property="og:image" content="{{ site.url }}{{ page.hero }}" />
{% endblock %}

{% block json_ld %}
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "author": {
        "@type": "Person",
        "name": "{{ site.author }}"
    },
    "datePublished": "{{ page.date|date('Y-m-d') }}",
    "dateModified": "{{ page.date_lastmod|date('Y-m-d')|default(page.date|date('Y-m-d')) }}",
    "headline": "{{ page.title }}",
    "image": {
        "@type": "imageObject",
        "url": "{{ site.url }}{{ page.hero }}"
    },
    "publisher": {
        "@type": "Organization",
        "name": "GitHub",
        "logo": {
            "@type": "imageObject",
            "url": "https://assets-cdn.github.com/images/modules/logos_page/GitHub-Logo.png"
        }
    },
    "mainEntityOfPage": "{{ site.url }}{{ page.url }}"
}
</script>
{% endblock %}

{% block content_wrapper %}
<article>
    <h2>{{ page.title }}</h2>
    <div>
       <h4>{{ page.date|date("Y-m-d") }}</h4>
    </div>
    <div>
        {{ page.blocks.content|raw }}
    </div>
    {% if page.previous_post or page.next_post %}
    <nav class="article">
        <ul>
            {% if page.next_post %}
                <li>Next: <a class="next" href="{{ site.url }}{{ page.next_post.url }}" title="{{ page.next_post.title }}"><span class="title">{{ page.next_post.title }}</span></a></li>
            {% endif %}
            {% if page.previous_post %}
                <li>Previous: <a class="previous" href="{{ site.url }}{{ page.previous_post.url }}" title="{{ page.previous_post.title }}"><span class="title">{{ page.previous_post.title }}</span></a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</article>

{% if site.disqus.shortname and site.disqus.shortname != '' %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = '{{site.disqus.shortname}}'; // required: replace example with your forum shortname


    {% if page.disqus.identifier  %}var disqus_identifier = '{{page.disqus.identifier}}'; {% endif %}

    {% if page.disqus.title %}var disqus_title = '{{page.disqus.title}}';{% endif %}

    {% if page.disqus.url %}var disqus_url = '{{page.disqus.url}}';{% endif %}

    {% if page.disqus.category_id %}var disqus_category_id = '{{page.disqus.category_id}}';{% endif %}

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript">comments powered byDisqus.</a>
</noscript>
{% endif %}

{% endblock %}
