article {
    margin-bottom: 2em;
}

.mainContent {
    max-width: 40em;
}

a {
    color: darkorange;
}

a:hover {
    color: orangered;
}

h1, h2, h3, h4 {
    font-weight: 600;
}

time {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
    display: block;
    font-weight: 600;
}

pre {
    white-space: pre-wrap;
    font-size: 12px;
    background: #EEEEEE;
}

h1, h2 {
    margin-top: 1em;
}
